importFrom(objectSignals, signalingFields)
exportClasses(Properties, SingleEnum, MultipleEnum,
              ## Enum,
              PositiveInteger,
              NonnegativeInteger, NegativeInteger, NonpositiveInteger,
              NumericWithMin0Max1)
export(setProperties, setSingleEnum, setMultipleEnum, setNumericWithRange)
exportMethods(as.list)
