importFrom(objectSignals, Signal, signalingFields)
importClassesFrom(objectSignals, Signal)
exportClasses(Properties, Color, ColorEnum, GlyphEnum,
              SingleEnum, MultipleEnum, Enum,
              PositiveInteger, NonnegativeInteger,
              NegativeInteger, NonpositiveInteger,
              NumericWithMin0Max1)

export(setProperties,
       setSingleEnum, setMultipleEnum,
       setColorEnum, setGlyphEnum,
       PositiveInteger, NonnegativeInteger,
       NegativeInteger, NonpositiveInteger,
       setNumericWithRange)

exportMethods(as.list)
